@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@using Factory.Models
<p>@Html.ActionLink("Add an engineer to this machine","Add",new {id =@Model.MachineId})</p>
<p>Engineers licensed to work on this machine are:</p>

@foreach (MachineEngineer me in @Model.Engineers)
{
  <p>@Html.ActionLink(me.Engineer.Name,"Details","Engineers", new {id = me.EngineerId}) : @Html.ActionLink("Remove Engineer from Machine","Remove",new {id = me.MachineEngineerId})</p>
}