@{
  Layout = "_Layout";
}

@using Factory.Models
@using System.Collections.Generic

@model List<Factory.Models.Machine>
<p>@Html.ActionLink("Add another Machine","Create")</p>
<p>List of Machines:</p>
<ul>
  @foreach (Machine m in @Model)
  {
    <li><p>@Html.ActionLink(m.Name, "Details", new {id = m.MachineId})</p></li>
  }
</ul>
