<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/bootstrap.css">
  <link rel="stylesheet" href="~/styles.css">
  <title>Dr. Sillystringz's Factory</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">Dr. Sillystringz's Factory</div>
    @RenderBody()
    <hr>
    <h4>@Html.ActionLink("Go Home","Index","Home")</h4>
  </div>
</body>

</html>