@{
  Layout = "_Layout";
}

@if(@Model)
{
  @using (Html.BeginForm())
  {
    @Html.DropDownList("MachineId")
    <input type="submit" value="Go!">
  }
}
else
{
  <p>There are no machines to add to this Engineer.</p>
}